// Variables for dark theme
$background-color: #222831;
$background-light-color: #393e46;
$text-color: #eeeeee;
$primary-color: #00adb5;

$colors: (
  background: #222831,
  background-light: #393e46,
  text: #eee,
  primary: #00adb5,
  secondary: #a45d5d,
);
