// Variables for light theme
$background-color: #fff;
$background-light-color: #eeeeee;
$text-color: #222831;
$primary-color: #00adb5;

$colors: (
  background: #fff,
  background-light: #eeeeee,
  text: #222831,
  primary: #00adb5,
  secondary: #a45d5d,
);
